a href=edit_player_path(player)
  .i.fa.fa-pencil.fa-hover
/ br
/ = link_to player_path(player, authenticity_token: form_authenticity_token), method: :delete, data: {confirm: "Вы уверены?"} do
/   .i.fa.fa-trash.fa-hover
